*{margin: 0;box-sizing: border-box;padding: 0}
body{
    font-size: 14px/1.5;
    font-family:  'Open Sans', sans-serif;
    background: #ffffff;
    color:#f2f2f2;
    font-weight: 300;
}
h2{
    font-style: normal;
    font-weight: 100
}
h5{
    font-weight: 100;
}
h6{
    color: #888787;
    font-size: 20px;
    font-weight:300;
}
.jumbotron{
background: linear-gradient(#ad4363,#d86456)
}
.material-icons{
    color:#ffffff;
}

.menu,.notifications{
    font-size: 50px;
}
.box{
    padding:95px 60px 20px;
    display:flex!important;
    justify-content:space-between;
}
.lg-none{
    display: none!important;
}
.money, .description{

    text-align:center;
    font-size: 50px;
}
.box-view{padding: 30px;
    width:120px;height: 120px
}
.box-view-2{
    float: right
}
.add1{
    font-size: 30px;
}
.sendmoney, .card1, .shop, .recharge, .visa{
    font-size: 50px;
}
.sendmoney{
    color:#fca04d;
}
.card1{
    color:#007bad;
}
.shop{
    color:#da5d5b;
}
.recharge{
    color:#ad4a6f;
}
.visa{
    color:#5e84a3;
}
.box1,.box2,.box3,.box4,.box5{
  padding:25px;
  width:100px; height:100px;
}
.box4{
    border: 2px solid #ad4a6f;
    color:#ad4a6f; 
}
.text-box4{
    color:#ad4a6f;
}

.article{
    color:#f1774f;
}
.section{
}
.card{
}
.column-offer .card img{
    height:200px;
}
.column-offer{
    background: #f2f2f2;
    width: 100%;
}
.column-offer .card{
    background: #f2f2f2;
    width: 100%;
    border:0px;
}
.img1{
    border-radius:100%;
    height:200px;
    width:200px;
    padding:10px;;
    background: #d86456;
}

.add{padding-top:50px;
    font-size: 40px;
}

#box1{
    display:none}

/* plugin */
.gmpc::before{
    content:"";border:1px solid #ffffff;
    height:25px; width:0px;color: #ffffff;
    position: absolute;left: 50%;visibility: visible;top:0px;

}
/* #progress-circle::before{
    content:'Added Rs 5000 0n 25 May';text-align: center;
    width:85px;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
  color: #ffffff;
    left:40%;
    top:38px;
    border:0px;
} */
.gmpc::after{
    content:"";border:1px solid #ffffff; border-radius:100%;
    height:15px; width:15px;
    position: absolute;left: 90%;
    top:50%;
    background: #ffffff;

}
 .gmpc-percent-text::before{
    
    border:0px;
    width:85px;
     font-size: 12px;
     font-family: 'Open Sans',sans-serif;
    content:'Added Rs 5000 0n 25 May';text-align: center;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
  color: #ffffff;
    margin:auto;
    top:-100px;
    
   
} 
/* .line{
    transform: translate(-25%, -80%);
    border:1px solid #ffffff;
    height:25px; width:0px;
    position: absolute;left: 64%;
    top:-10px;
  
} */
/* .circle{
    border-radius: 100%;
    border:1px solid #ffffff;
    height:15px; width:15px;
    transform: translate(-65%, 100%);
    position: absolute;left: 90%;
top:50%;
    background: #ffffff;
} */
@media(min-width: 320px) and (max-width: 767px){
    .jumbotron{width:100%; font-size: 12px; height:700px;}
    .menu,.notifications{
        font-size: 30px;
    }
.add1{font-size:15px;}
.container{
   width: 100%;
}
.card img{
  width:100px  
}
.card{
    font-size:11px;
    color:#3f3f3f;
    width:auto;
}
.card-deck{
    display:flex;
}
.column-offer{
    justify-content: space-around
}
.column-offer .card{
    text-align: left;
    font-size: 12px;
  width:120px; 
}
.column-offer .card img{
    width:90px;height:90px;
}
#box1{
    display:block;margin-top: 80px;
}
.box{
    padding:0px 0px;
    justify-content: space-around;
 display: flex!important;
 flex-wrap: wrap;
    width:100%;
}
.money, .description{

    text-align:center;
    font-size: 25px;
}
.box-view-2{
    float: right
}
.box-view{padding: 20px;
    width:80px;height: 80px;
}
.view1, .view2{
    display: none!important;

}

.box1,.box2,.box3,.box4,.box5{
    margin:0;
    margin-top: 10px;
    padding:10px;
    width: 60px;
    height:60px;
  }
   
  .sendmoney, .card1, .shop, .recharge, .visa{
    font-size: 30px;
}
.row-2 h5{
    font-size: 16px;
}

.card img{
    height:90px;
    width:90px; 
   margin:5px;
}
/* favourite */
.img1{
    border-radius:100%;
    height:90px;
    width:90px;
    padding:10px;;
    background: #d86456;
}
.add{padding-top:0px;
    font-size: 40px;
}

/* plugin */

.mobile{display: block!important}
/* .title::after{
    
    border:0px;
    width:85px;
     font-size: 12px;
     font-family: 'Open Sans',sans-serif;
    content:'Added Rs 5000 0n 25 May';text-align: center;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
  color: #ffffff;
    margin:auto;
    top:50px;
    left:23%;
   
}  */
/* .title{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
  color: #ffffff;
    left:40%;top:50%;
    transform: translate(5%, 50%);
} */
/* .line{
    transform: translate(-25%, 50%);
    border:1px solid #ffffff;
    height:25px; width:0px;
    position: absolute;left: 52%;
    top:-8px;
  
}
.circle{
    border-radius: 100%;
    border:1px solid #ffffff;
    height:15px; width:15px;
    transform: translate(-50%, -50%);
    position: absolute;left: 98%;
top:152px;
    background: #ffffff;
} */
}




@media(min-width: 768px) and (max-width: 991px){
    .box{
        padding:50px 0px;
        justify-content: space-around;
        display: flex;
        width:100%;
    }
    .card img{
        height:130px;
        width:130px; 
        padding:0px;
    }
    .img1{
        border-radius:100%;
        height:110px;
        width:110px;margin:0px;
        padding:0px;
        background: #d86456;
    }
    .add{padding-top:0px;
        font-size: 40px;
    }
    /* plugin */
    .mobile{display: none}
    /* .title::after{
    
        border:0px;
        width:85px;
         font-size: 12px;
         font-family: 'Open Sans',sans-serif;
        content:'Added Rs 5000 0n 25 May';text-align: center;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        position: absolute;
      color: #ffffff;
        margin:auto;
        top:10px;
        left:45%;
       
    }  */
    /* .title{
        text-align: center;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
  color: #ffffff;
    left:40%;top:-20px;
    transform: translate(5%, 50%);
    } */
    /* .line{
        transform: translate(-25%, -80%);
        border:1px solid #ffffff;
        height:25px; width:0px;
        position: absolute;left: 54%;
        top:-10px;
      
    }
    .circle{
        border-radius: 100%;
    border:1px solid #ffffff;
    height:15px; width:15px;
    transform: translate(-50%, -50%);
    position: absolute;left: 92%;
top:105px;
    background: #ffffff;
    } */
}